<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Secu3Droid - An open source, free manager for SECU-3 engine
  control unit
  Copyright (C) 2013 Maksim M. Levin. Russia, Voronezh
  
  SECU-3  - An open source, free engine control unit
  Copyright (C) 2007 Alexey A. Shabelnikov. Ukraine, Gorlovka
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
  contacts:
             http://secu-3.org
             email: mmlevin@mail.ru
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secu3.android"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="org.secu3.android.api.io.Secu3Service"
            android:enabled="true" />
        <activity
            android:name="org.secu3.android.MainActivity"
            android:launchMode="singleTask"            
            android:label="@string/app_name" >            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secu3.android.ParamActivity"
            android:label="@string/title_activity_param" >
        </activity>
        <activity
            android:name="org.secu3.android.ErrorsActivity"
            android:label="@string/title_activity_errors" >
        </activity>
        <activity
            android:name="org.secu3.android.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>