<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secu3.android"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="org.secu3.android.api.io.Secu3Service"
            android:enabled="true" />
        <activity
            android:name="org.secu3.android.MainActivity"
            android:launchMode="singleTask"            
            android:label="@string/app_name" >            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secu3.android.ParamActivity"
            android:label="@string/title_activity_param" >
        </activity>
        <activity
            android:name="org.secu3.android.ErrorsActivity"
            android:label="@string/title_activity_errors" >
        </activity>
        <activity
            android:name="org.secu3.android.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>